@import "axis"

global-reset()
base()
typography()

tables()

body
    bg('../images/bg.png', repeat)

#container
    area(color = #f5f5f5)
    margin: 0 auto
    padding: 20px
    width: 920px

p
    margin: 12px 0 15px

table
    background-color: #FFF
    margin: 30px auto
    #available
        width: 90px

#message
    background-color: #FFF
    border-radius: 10px
    padding: 10px 15px
    #attend-message
        margin: 20px 0 0
        ul
            ul()

footer
    margin: 20px auto
    text-align: center
    width: 960px
    p
        font-size: 12px