body
    background: url('../images/bg.png') repeat 0 0 scroll transparent
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif

p
    margin: 12px 0 15px

a
    color: #aa201d
    text-decoration: none
    &:hover
        color: #aa201d
        text-decoration: underline

.hasCountdown
    border: 1px solid #ccc
    background-color: #eee
.countdown_rtl
    direction: rtl
.countdown_holding span
    color: #888
.countdown_row
    clear: both
    width: 100%
    padding: 0px 2px
    text-align: center
.countdown_show1 .countdown_section
    width: 98%
.countdown_show2 .countdown_section
    width: 48%
.countdown_show3 .countdown_section
    width: 32.5%
.countdown_show4 .countdown_section
    width: 24.5%
.countdown_show5 .countdown_section
    width: 19.5%
.countdown_show6 .countdown_section
    width: 16.25%
.countdown_show7 .countdown_section
    width: 14%
.countdown_section
    display: block
    float: left
    font-size: 75%
    text-align: center
.countdown_amount
    font-size: 200%
.countdown_descr
    display: block
    width: 100%

.releaseArea
    margin: 20px 0
    table
        background: #FFF
        border: 1px solid #ddd
        th
            font-weight: bold
        .available
            text-align: center
            max-width: 90px

#options
    .active
        a
            font-weight: bold

#message
    background-color: #FFF
    border-radius: 10px
    padding: 10px 15px
    #attend-message
        margin: 20px 0 0

footer
    margin: 20px auto
    text-align: center
    p
        font-size: 12px