@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japaneses Light'), local('NotoSansJP-Light'),
  url(../assets/fonts/NotoSansJP-Light.otf) format('otf');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japaneses Regular'), local('NotoSansJP-Regular'),
  url(../assets/fonts/NotoSansJP-Regular.otf) format('otf');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans Japaneses Medium'), local('NotoSansJP-Medium'),
  url(../assets/fonts/NotoSansJP-Medium.otf) format('otf');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japaneses Bold'), local('NotoSansJP-Bold'),
  url(../assets/fonts/NotoSansJP-Bold.otf) format('otf');
}
