@charset "UTF-8";

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

body {
    background: url("../images/bg.png") repeat 0 0 scroll transparent;
    font-family: "Helvetica Neue", Helvetica,"Arial","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

p {
    margin: 12px 0 15px;
}

a {
    color: #aa201d;
    text-decoration: none;
    &:hover {
        color: #aa201d;
        text-decoration: underline;
    }
    &:visited {
        color: #000;
    }
}

header {
    margin-bottom: 20px;
    #archive {
        border: 1px solid #ccc;
        background-color: #eee;
        text-align: center;
        a {
            display: block;
            padding: 22px 0 23px;
        }
    }
}

.filters {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    p {
        margin: 0;
    }
    #search {
        input {
            margin-left: 10px;
            width: 360px;
        }
    }
    #availableFilter {
        margin-top: 3px;
    }
}

.releaseArea {
    margin: 20px 0;
    .available {
        text-align: center;
        max-width: 90px;
        
        > span {
            color: #aaa;
        }
    }
    .available {
        text-align: center;
        max-width: 90px;
    }
}

table{
    background: #fff;
    border: 1px solid #ddd;
    th {
        font-weight: bold;
    }
}

#options .active a {
    font-weight: bold;
}

#message {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    #attend-message {
        margin: 20px 0 0;
    }
}

footer {
    margin: 20px auto;
    text-align: center;
    p {
        font-size:12px;
    }
}
