<div class="releases-state container">

  <div class="row">
    <div class="col-lg-4 event-title">
        <h1 ng-hide="category === 'm3'">{{ category | titlecase }} {{ eventId }} <span class="date">{{ event.date }}</span></h1>
        <h1 ng-show="category === 'm3'">{{ category | titlecase }} <span class="date">{{ event.date }}</span></h1>
    </div>
    <div class="search-area col-lg-4 col-sm-6 text-center">
        <p>Search: <input ng-model="searchText" data-toggle="tooltip" data-placement="auto top" data-original-title="Search Albums, Artists, Circles, Links, Type, Genres &amp; Availiability (comma space seperated for more than one)" id="searchbox"></p>
    </div>
    <div class="available-filter col-lg-4 col-sm-6" ng-init="available = 'all'">
        <p>Show: <a href="" ng-click="available = 'all'">All</a> // <a href="" ng-click="available = 'mp3'">Available MP3s</a><br> // <a href="" ng-click="available = 'flac'">Available FLACs</a> // <a href="" ng-click="available = 'other'">Available Others</a></p>
    </div>
  </div>

  <div class="row threads">
    <div class="col-sm-6">
      <p class="text-center">
        <strong>Source:</strong>
        <a ng-href="{{ event.source }}">{{ event.source }}</a>
      </p>
    </div>
    <div class="col-sm-6">
      <p class="text-center">
        <strong>/jp/ thread:</strong>
      </p>
    </div>
  </div>

  <div class="row" cg-busy="'ReleasesRepository.getAll'">
    <div class="release-area col-lg-12">
      <div class="table-responsive">

        <table class="table table-hover releases table-bordered">
          <thead>
            <tr>
              <th rowspan="2">Album</th>
              <th rowspan="2">Artist / Circle</th>
              <th rowspan="2">Preview</th>
              <th colspan="3" class="available">Available</th>
            </tr>
            <tr>
              <th>
                MP3<br>
                <small>V0 unless noted</small>
              </th>
              <th>FLAC</th>
              <th>Other</th>
            </tr>
          </thead>
          <tbody>

            <tr ng-if="available == 'all'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row">
              <td>{{release.album}}</td>
              <td>
                <a ng-show="release.link" href="{{release.link}}" target="_blank">
                  {{release.artistcircle}}
                </a>
                <span ng-hide="release.link">
                  {{release.artistcircle}}
                </span>
              </td>
              <td>
                <a href="{{release.preview}}" target="_blank">{{release.preview}}</a>
              </td>
              <td class="available-mp3">
                <a href="{{release.available.mp3}}" target="_blank" ng-show="release.available.mp3"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.mp3"></i>
              </td>
              <td class="available-flac">
                <a href="{{release.available.flac}}" target="_blank" ng-show="release.available.flac"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.flac"></i>
              </td>
              <td class="available-other">
                <a href="{{release.available.other}}" target="_blank" ng-show="release.available.other"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.other"></i>
              </td>
            </tr>
            <tr ng-if="available == 'all'" class="release-row" ng-hide="releases">
              <td colspan="6" style="text-align:center;">No Releases Found</td>
            </tr>

            <tr ng-if="available == 'mp3'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-show="release.available.mp3">
              <td>{{release.album}}</td>
              <td>
                <a ng-show="release.link" href="{{release.link}}" target="_blank">
                  {{release.artistcircle}}
                </a>
                <span ng-hide="release.link">
                  {{release.artistcircle}}
                </span>
              </td>
              <td>
                <a href="{{release.preview}}" target="_blank">{{release.preview}}</a>
              </td>
              <td class="available-mp3">
                <a href="{{release.available.mp3}}" target="_blank" ng-show="release.available.mp3"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.mp3"></i>
              </td>
              <td class="available-flac">
                <a href="{{release.available.flac}}" target="_blank" ng-show="release.available.flac"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.flac"></i>
              </td>
              <td class="available-other">
                <a href="{{release.available.other}}" target="_blank" ng-show="release.available.other"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.other"></i>
              </td>
            </tr>
            <tr ng-if="available == 'mp3'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-hide="release.available.mp3">
              <td ng-show="$first" colspan="6" style="text-align:center;">No MP3 Releases Found</td>
            </tr>

            <tr ng-if="available == 'flac'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-show="release.available.flac">
              <td>{{release.album}}</td>
              <td>
                <a ng-show="release.link" href="{{release.link}}" target="_blank">
                  {{release.artistcircle}}
                </a>
                <span ng-hide="release.link">
                  {{release.artistcircle}}
                </span>
              </td>
              <td>
                <a href="{{release.preview}}" target="_blank">{{release.preview}}</a>
              </td>
              <td class="available-mp3">
                <a href="{{release.available.mp3}}" target="_blank" ng-show="release.available.mp3"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.mp3"></i>
              </td>
              <td class="available-flac">
                <a href="{{release.available.flac}}" target="_blank" ng-show="release.available.flac"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.flac"></i>
              </td>
              <td class="available-other">
                <a href="{{release.available.other}}" target="_blank" ng-show="release.available.other"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.other"></i>
              </td>
            </tr>
            <tr ng-if="available == 'flac'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-hide="release.available.flac">
              <td ng-show="$first" colspan="6" style="text-align:center;">No FLAC Releases Found</td>
            </tr>

            <tr ng-if="available == 'other'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-show="release.available.other">
              <td>{{release.album}}</td>
              <td>
                <a ng-show="release.link" href="{{release.link}}" target="_blank">
                  {{release.artistcircle}}
                </a>
                <span ng-hide="release.link">
                  {{release.artistcircle}}
                </span>
              </td>
              <td>
                <a href="{{release.preview}}" target="_blank">{{release.preview}}</a>
              </td>
              <td class="available-mp3">
                <a href="{{release.available.mp3}}" target="_blank" ng-show="release.available.mp3"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available[0].mp3"></i>
              </td>
              <td class="available-flac">
                <a href="{{release.available.flac}}" target="_blank" ng-show="release.available.flac"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.flac"></i>
              </td>
              <td class="available-other">
                <a href="{{release.available.other}}" target="_blank" ng-show="release.available.other"><i class="fa fa-check"></i></a>
                <i class="fa fa-times" ng-hide="release.available.other"></i>
              </td>
            </tr>
            <tr ng-if="available == 'other'" ng-repeat="release in releases | orderBy:order:orderby | filter:searchText" class="release-row" ng-hide="release.available.other">
              <td ng-show="$first" colspan="6" style="text-align:center;">No Other Format Releases Found</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

<script type="text/javascript">
  // $("#searchbox").tooltip();
</script>
