<header class="row">
    <h1 class="col-lg-6">{{comiketID | uppercase}} Release List</h1>
    <div id="archive" class="col-lg-1">
        <a ng-href="/#/archives">Archives</a>
    </div>
    <!-- <div id="countdown" class="col-lg-1"></div> -->
</header>

<div  class="row">
    <div id="search" class="col-lg-12">
        <p>Search: <input ng-model="searchText" /></p>
    </div>
</div>

<div class="row">
    <div class="releaseArea col-lg-12">
        <table class="table table-hover releases table-bordered">
             <thead>
                <tr>
                    <th>Album</th>
                    <th>Artist / Circle</th>
                    <th>Link / Crossfade</th>
                    <th class="available">Available</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="release in releases.releases | filter:searchText" class="release-row">
                    <td>{{release.album}}</td>
                    <td>{{release.artist}}</td>
                    <td><a href="{{link}}">{{release.link}}</a></td>
                    <td class="available" ng-show="release.available"><a href="{{release.available}}"><span class="glyphicon glyphicon-ok"></span></a></td>
                    <td class="available" ng-hide="release.available"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:center;">Want a release added, <a href="https://github.com/Tomo-san/comiket/tree/angular/app/events/{{comiketID}}.json">why not add one?</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div id="message" class="col-lg-12">
        <p>Welcome to a {{comiketID | uppercase}} Release List.</p>
        <p>If you have a release that you want me to check out and add then feel free to fork and add to the <a href="https://github.com/Tomo-san/comiket/tree/angular/app/events/{{comiketID}}.json">Release List</a> on Github or send me a message on twitter <a href="http://twitter.com/t0mtheenemy">@t0mtheenemy</a></p>
    </div>
</div>