<header class="row">
    <h1 class="col-lg-6">{{comiketID.comiketID | uppercase}} Release List</h1>
    <div id="archive" class="col-lg-1">
        <a href="archives">Archives</a>
    </div>
    <div id="countdown" class="col-lg-1"></div>
</header>

{{comiketID}}<br />
{{releaseURL}}

<div  class="row">
    <div id="search" class="col-lg-12">
        <p>Search: <input ng-model="searchText" /></p>
    </div>
</div>

<div class="row">
    <div class="releaseArea col-lg-12">
        <table class="table table-hover releases table-bordered">
             <thead>
                <tr>
                    <th>Album</th>
                    <th>Artist / Circle</th>
                    <th>Link / Crossfade</th>
                    <th class="available">Available</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="release in releases | filter:searchText" class="release-row">
                    <td>{{release.album}}</td>
                    <td>{{release.artist}}</td>
                    <td><a href="{{link}}">{{release.link}}</a></td>
                    <td class="available" ng-show="release.available"><a href="{{release.available}}"><span class="glyphicon glyphicon-ok"></span></a></td>
                    <td class="available" ng-hide="release.available"><span class="glyphicon glyphicon-remove"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:center;">Want a release added, <a href="https://github.com/Tomo-san/c84/blob/gh-pages/js/releases.js">why not add one?</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row">
    <div id="message" class="col-lg-12">
        <p>Hello &amp; Welcome to my {{comiketID.comiketID | uppercase}} Release List.</p>
        <p>The reason this site exists is because I'm too forgetful to remember all the releases I want from Comiket, so I decided I would make this list so that I can keep track of it all. Also maybe other people will find it useful so I added an Available column so as soon as I can find a copy I'll add it to the column.</p>
        <p>If you have a release that you want me to check out and add then feel free to fork and add to the <a href="https://github.com/Tomo-san/c84/blob/gh-pages/js/releases.js">releases.js</a> on Github or send me a message on twitter <a href="http://twitter.com/t0mtheenemy">@t0mtheenemy</a></p>
    </div>
</div>